
/assignments/transfer_learning_pretrained_cnns/in
kaggle.json
assignments/transfer_learning_pretrained_cnns/cds-vis-analytics.code-workspace
assignments/face_detection_historial_newspapers/in/
assignments/simple_image_search/in/
assignments/face_detection_historial_newspapers/cds-vis-analytics.code-workspace
